/* 
 *  VARIABLES
 */

:root {
  /* Font Sizes */
  --baseFontSize: 1rem;
  --baseNavSize: 0.64rem;
  --smallFontSize: 0.8rem;
  --smallestFontSize: 0.512rem;
  
  --xtra-big-ass-heading: 3.052rem;
  --xtra-heading: 2.441rem;
  --heading-1: 1.953rem;
  --heading-2: 1.563rem;
  --heading-3: 1.25rem;
  --heading-4: var(--baseFontSize);
  --heading-5: var(--smallFontSize);
  --heading-6: 0.64rem;
  --heading-7: var(--smallestFontSize);

  /* Colors */
  --color-accent1: #EB5E28;
  --color-accent2: #252422;
  --color-neutral-light: #FFFCF2;
  --color-neutral: #CCC5B9;
  --color-neutral-dark: #403D39;
}

/* 
 *  GENERAL
 */

h1 {
  font-family: "Source Sans Pro", serif;
  font-weight: 900;
  font-size: var(--heading-1);
  border-left: 5px dotted;
  padding-left: 25px;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #1d2b64, #f8cdda); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

b {
  font-weight: 700;
}

@media (min-width: 850px) { 
  html {
    font-size: 125%;
  }
}

/*
 * HEADER
 */ 

header {
  color: var(--color-neutral-light);
  margin-top: 5%;
}

header #title-container {
  padding: 5% 10%;
  font-weight: 600;
}

header #description-container {
  padding: 5% 10%;
}

header p {
  font-family: Sintony;
  font-size: var(--baseFontSize);
  line-height: 1.2;
  text-align: justify;
}

header p:last-of-type {
  margin-top: 15px;
}

@media (min-width: 768px) { 
  header {
    margin: 0% 30%;
  }

  header #title-container,
  header #description-container {
    padding: 5% 0%;
  }

  h1 {
    font-size: var(--xtra-big-ass-heading);
  }
}

 /*
 * CONTENT
 */ 

form {
  margin: 5% 0% 0% 0%;
  padding: 5% 10%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-family: Sintony;
  font-size: var(--baseFontSize);
}

main h2 {
  font-size: var(--heading-3);
  font-weight: 600;
  font-family: Sintony;
  display: inline-block;
  margin-left: 10px;
  color: white;
}

#form-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}

#form-header-icon {
  color: white;
  display: inline-block;
  margin-left: 10%;
  animation-name: rotate-icon;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes rotate-icon {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0)
  }
}

form input {
  box-sizing: border-box;
}

.form-group {
  margin: 20px 0px;
}

.form-group legend {
  margin: 0px 0px 15px 0px;
}

.form-group label {
  display: block;
  margin: 0px 0px 10px 0px;
}

form input[type="text"],
form input[type="email"],
form input[type="number"] {
  height: 30px;
  width: 100%;
  padding: 0px 10px;
  font-size: var(--baseFontSize);
}

form select {
  width: 100%;
  height: 30px;
  padding: 0px 10px;
  font-size: var(--baseFontSize);
}

form textarea {
  width: 100%;
  box-sizing: border-box;
}

form input[type="radio"] {
  display: inline;
}

.form-group-radio input,
.form-group-radio label {
  display: inline-block;
}

.form-group-checkbox input,
.form-group-checkbox label {
  display: inline-block;
}

button {
  background-color: #E54B4B;
  padding: 10px;
  width: 100%;
  color: white;
  border: none;
  font-size: var(--base-fontsize);
}

button:hover {
  background-color: #B31919;
}

@media (min-width: 768px) { 
  main {
    margin: 0% 30% 5% 30%;
  }

  form {
    margin: 5% 0% 0% 0%;
  }

  #form-header-icon {
    margin-left: 0px;
  }
}


/*
 * FOOTER
 */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white
}

footer #made-by {
  align-self: flex-start;
}

footer #social {
  display: flex;
  flex-direction: row;
}

footer #icons-attr span {
  font-size: var(--smallFontSize);
  font-family: Sintony;
}

footer #icons-attr span a {
  color: white;
}

footer #social svg {
  fill: var(--color-neutral-light);
  width: 35px;
  padding: 15px;
}
